<h1> User Page </h1>
<h3> Name: <%= @user.name %></h3>
----------------------------------------------------------------
<h4> Events Created: <%= render @user.events %></h4>
----------------------------------------------------------------
<h4> Events Attending: <%= render @user.attended_events %></h4>